@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
  height: 100dvh;
  width: 100dvw;
  background: $main-bg;
  font-family: 'Orbitron', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 22px !important;
  line-height: 30px;
  color: $main-text;
}

@media screen and (max-width: 414px) {
  body {
    font-size: 12px !important;
  }
}

.gap-2 {
  gap: 2px;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.w-full {
  width: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  fill: $main-text;
  cursor: pointer;
}

.main-color-text {
  color: $main-text;
}

.main-color-fill {
  fill: $main-text;
}

.icon:hover {
  box-shadow: 1px 1px 10px white;
}
