package components

templ AboutComponent() {
<section class="py-5 py-md-7 bg-dark" id="about">
        <div class="binary-bg"></div>
        <div class="container">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="about-content-text col-lg-6 mb-4 mb-lg-0">
                    <div class="d-flex justify-content-start">
                      <h2 class="section-heading">About Me</h2>
                    </div>
                    <p>Hey, I’m Alex! I specialize in JavaScript and TypeScript, primarily within the Vue ecosystem (Vue2, Vue3, Nuxt2, Nuxt3). My frontend expertise extends to testing with Vitest, Cypress, and Jest, as well as building scalable applications with Webpack and Vite. I’ve also developed cross-platform apps using Flutter, covering everything from LLM integrations to video streaming and music generation.</p>
                    <p>Beyond frontend, I build RESTful APIs with Go and PostgreSQL, handling payments, authentication, and LLM services. I also have experience in Python and C++ for business logic development. On the DevOps side, I’m proficient in Dockerizing applications, setting up Nginx, and configuring Linux servers. As a technical interviewer, I’ve helped shape engineering teams by evaluating top talent.</p>
                    <p>Fluent in English (C1), I thrive on collaboration and continuous learning. My ultimate goal is to lead tech teams as a CTO, driving innovative product development. Outside of coding, I enjoy jogging, hiking, studying languages, and reading. I also love spending time with my family - going hiking with my wife and children.</p>
                </div>
            </div>
        </div>
    </section>
    <style>
      @media (max-width: 576px) {
        .about-content-text {
          text-align: center;
        }
      }
    </style>
  }
